# 
*.user
/CultureRegistrar.Server/.vs
/CultureRegistrar.Server/*/bin
/CultureRegistrar.Server/*/obj
/CultureRegistrar.Server/packages
/CultureRegistrar.WebClient/node_modules
/CultureRegistrar.WebClient/gulp-config-local.js
!/CultureRegistrar.WebClient/gulp-config-local.js.example
/CultureRegistrar.Server/CultureRegistrar.Server.Api/Properties/PublishProfiles/Local.pubxml
